In [2]:
import pandas as pd
clean_data = pd.read_csv('features_target.csv')
clean_data.head()

,Unnamed: 0,unit,cycle,os1,os2,m2,m3,m4,m6,m7,...,m9,m11,m12,m13,m14,m15,m17,m20,m21,rul
0,0,1,1,-0.0007,-0.0004,641.82,1589.70,1400.60,21.61,554.36,...,9046.19,47.47,521.66,2388.02,8138.62,8.4195,392,39.06,23.4190,192
1,1,1,2,0.0019,-0.0003,642.15,1591.82,1403.14,21.61,553.75,...,9044.07,47.49,522.28,2388.07,8131.49,8.4318,392,39.00,23.4236,191
2,2,1,3,-0.0043,0.0003,642.35,1587.99,1404.20,21.61,554.26,...,9052.94,47.27,522.42,2388.03,8133.23,8.4178,390,38.95,23.3442,190
3,3,1,4,0.0007,0.0000,642.35,1582.79,1401.87,21.61,554.45,...,9049.48,47.13,522.86,2388.08,8133.83,8.3682,392,38.88,23.3739,189
4,4,1,5,-0.0019,-0.0002,642.37,1582.85,1406.22,21.61,554.00,...,9055.15,47.28,522.19,2388.04,8133.80,8.4294,393,38.90,23.4044,188

In [3]:
clean_data = clean_data.drop('Unnamed: 0', axis=1)

In [4]:
cat_data = clean_data[['unit','cycle','os2','m6','m17']]

In [5]:
cat_data.head()

   unit  cycle     os2     m6  m17
0     1      1 -0.0004  21.61  392
1     1      2 -0.0003  21.61  392
2     1      3  0.0003  21.61  390
3     1      4  0.0000  21.61  392
4     1      5 -0.0002  21.61  393

In [6]:
cont_data = clean_data.drop(['unit','cycle','os2','m6','m17','rul'], axis=1)

In [7]:
cont_data.head()

,os1,m2,m3,m4,m7,m8,m9,m11,m12,m13,m14,m15,m20,m21
0,-0.0007,641.82,1589.70,1400.60,554.36,2388.06,9046.19,47.47,521.66,2388.02,8138.62,8.4195,39.06,23.4190
1,0.0019,642.15,1591.82,1403.14,553.75,2388.04,9044.07,47.49,522.28,2388.07,8131.49,8.4318,39.00,23.4236
2,-0.0043,642.35,1587.99,1404.20,554.26,2388.08,9052.94,47.27,522.42,2388.03,8133.23,8.4178,38.95,23.3442
3,0.0007,642.35,1582.79,1401.87,554.45,2388.11,9049.48,47.13,522.86,2388.08,8133.83,8.3682,38.88,23.3739
4,-0.0019,642.37,1582.85,1406.22,554.00,2388.06,9055.15,47.28,522.19,2388.04,8133.80,8.4294,38.90,23.4044

In [8]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(cont_data), columns=cont_data.columns)

In [9]:
scaled_df.head()

,os1,m2,m3,m4,m7,m8,m9,m11,m12,m13,m14,m15,m20,m21
0,-0.233333,-1.214815,-0.049261,-0.610086,0.766667,-0.333333,-0.886642,-0.114286,0.181818,-0.7,-0.127448,-0.382643,0.92,0.835172
1,0.633333,-0.725926,0.211823,-0.401804,0.258333,-0.555556,-1.016544,-0.057143,0.808081,-0.2,-0.600730,-0.140039,0.68,0.866897
2,-1.433333,-0.429630,-0.259852,-0.314883,0.683333,-0.111111,-0.473039,-0.685714,0.949495,-0.6,-0.485231,-0.416174,0.48,0.319310
3,0.233333,-0.429630,-0.900246,-0.505945,0.841667,0.222222,-0.685049,-1.085714,1.393939,-0.1,-0.445403,-1.394477,0.20,0.524138
4,-0.633333,-0.400000,-0.892857,-0.149241,0.466667,-0.333333,-0.337623,-0.657143,0.717172,-0.5,-0.447395,-0.187377,0.28,0.734483

In [10]:
test_data = cat_data.join(scaled_df)

In [11]:
test_data.head()

,unit,cycle,os2,m6,m17,os1,m2,m3,m4,m7,m8,m9,m11,m12,m13,m14,m15,m20,m21
0,1,1,-0.0004,21.61,392,-0.233333,-1.214815,-0.049261,-0.610086,0.766667,-0.333333,-0.886642,-0.114286,0.181818,-0.7,-0.127448,-0.382643,0.92,0.835172
1,1,2,-0.0003,21.61,392,0.633333,-0.725926,0.211823,-0.401804,0.258333,-0.555556,-1.016544,-0.057143,0.808081,-0.2,-0.600730,-0.140039,0.68,0.866897
2,1,3,0.0003,21.61,390,-1.433333,-0.429630,-0.259852,-0.314883,0.683333,-0.111111,-0.473039,-0.685714,0.949495,-0.6,-0.485231,-0.416174,0.48,0.319310
3,1,4,0.0000,21.61,392,0.233333,-0.429630,-0.900246,-0.505945,0.841667,0.222222,-0.685049,-1.085714,1.393939,-0.1,-0.445403,-1.394477,0.20,0.524138
4,1,5,-0.0002,21.61,393,-0.633333,-0.400000,-0.892857,-0.149241,0.466667,-0.333333,-0.337623,-0.657143,0.717172,-0.5,-0.447395,-0.187377,0.28,0.734483

In [12]:
target = clean_data.rul

In [13]:
from sklearn.model_selection import train_test_split, cross_val_score
import xgboost as xgb
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report
#create xgb instance with parameters
clf = xgb.XGBClassifier()
#fit data
clf.fit(test_data, target)
#make predictions
training_preds = clf.predict(X_train)
#run classification report and confusion matrix
gbt_confusion_matrix = confusion_matrix(y_test, val_preds)
#gbt_confusion_matrix
gbt_classification_report = classification_report(y_test, val_preds)
print(gbt_classification_report)

KeyboardInterrupt:

In [ ]:
f_cont_data = pd.read_csv('filtered_samples.csv')

In [ ]:
f_cont_data.head()

In [ ]:
f_clean_data = f_cont_data.drop('Unnamed: 0', axis=1)

In [ ]:
scaler = RobustScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(f_clean_data), columns=f_clean_data.columns)

In [ ]:
test2_data = cat_data.join(scaled_df)

In [ ]:
test2_data.head()

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
import xgboost as xgb
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report
#create test, train split
X_train, X_test, y_train, y_test = train_test_split(test2_data , target, test_size=0.3)
#create xgb instance with parameters
clf = xgb.XGBClassifier()
#fit data
clf.fit(X_train, y_train)
#make predictions
training_preds = clf.predict(X_train)
val_preds = clf.predict(X_test)
#run classification report and confusion matrix
gbt_confusion_matrix = confusion_matrix(y_test, val_preds)
#gbt_confusion_matrix
gbt_classification_report = classification_report(y_test, val_preds)
print(gbt_classification_report)

In [ ]:
from keras import models
from keras import layers
from keras import optimizers
model = models.Sequential()
model.add(layers.Dense(5000, activation='relu',input_shape=(19,)))
model.add(layers.Dense(2500, activation='relu'))
model.add(layers.Dense(1, activation='relu'))

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(test_data, target, test_size=200, random_state=42)

In [ ]:
import random
random.seed(123)
val = X_train[:500]
train_final = X_train[500:]
label_val = y_train[:500]
label_train_final = y_train[500:]

In [ ]:
model.compile(optimizer=optimizers.RMSprop(lr=0.001),
              loss='mse',
              metrics=['accuracy'])

In [ ]:
 history = model.fit(x_train,
                      y_train,
                      epochs=100,
                      batch_size=500,
                      validation_data=(x_val, y_val))

In [ ]:
model = models.Sequential()
model.add(layers.Dense(5000, activation='relu',input_shape=(19,)))
model.add(layers.Dense(2500, activation='relu'))
model.add(layers.Dense(1, activation='relu'))

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(test2_data, target, test_size=200, random_state=42)

In [ ]:
random.seed(123)
val = X_train[:500]
train_final = X_train[500:]
label_val = y_train[:500]
label_train_final = y_train[500:]

In [ ]:
model.compile(optimizer=optimizers.RMSprop(lr=0.001),
              loss='mse',
              metrics=['accuracy'])

In [ ]:
 history = model.fit(X_train,
                      y_train,
                      epochs=100,
                      batch_size=500,
                      validation_data=(val, label_val))